button {
  background-color: $color-pink;
  border-radius: 24px;
  color: $color-white;
  height: 35px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-color:  $color-pink;
  cursor: pointer;
}
.txt-align {
  text-align: center;
}