.btn {
  background-color: $color-pink;
  font-family: $font-montserrat;
  font-size: 12px;
  border-radius: 24px;
  color: $color-white;
  padding: 1rem 1rem;
  border-color:  $color-pink;
  font-weight: bold;
  min-width: 163px;
  cursor: pointer;
}
.txt-align {
  text-align: center;
}

button:disabled {
  cursor: not-allowed;
}