.cart-list-wrapper {
  width: 400px;
}

.cart__item {
  border-top: solid 0.3px #979797;
  position: relative;
  padding: 1rem 0rem;

  display: flex;
  justify-content: space-between;
}

.cart__item--details {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  p {
    font-size: 20px;
  }
}

.bottle {
  width: auto;
  height: 110px;

  @include media-breakpoint-up(lg) {
    height: 130px;
  }
}

.cart-widget {
  padding: 2rem 2rem;
}

.cart__cta {
  width: 100%;
  padding: 1rem;

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0;
  }
}

.remove__button {
  background-color: transparent;
  color: $color-medium-grey;
  font-size: 12px;
  font-family: $font-workSans;
  text-align: left;
  padding: 0.5rem 0;
  text-decoration: underline;
}

.cart-widget .remove__button {
  background-color: transparent;
}

.cart__list-wrapper {
  padding: 1rem 0;
  overflow: auto;
  padding-bottom: 2rem;
  .sidebar & {
    min-height: 172px;
    @include media-breakpoint-up(lg) {
      max-height: calc(100vh - 300px)
    }
  }
}

.checkout__header-text {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: $fontSize-small;
  }

  button {
    border: unset;
    background-color: unset;
  }
}

.cart__purchase {
  flex: 1 1 100%;
}

.cart__purchase-price {
  font-weight:$fontWeight-bold;
  text-align: right;
}

.cart__purchase-discount-price , .cart__purchase-price {
  text-align: right;
  font-weight:$fontWeight-bold;
  s {
    color: $color-grey;
    font-size: $fontSize-small;
  }
}

.cart__purchase-VIP-price {
  font-weight:$fontWeight-bold;
  text-align: right;
  color: $color-red;
  font-size: $fontSize-small;
}

.cart__purchase-type {
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}

.cart__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #979797;
  padding: 1rem 0;

  .cart-col {
    max-width: 50%;
  }

  .cart__footer--discount-text {
    font-size: 12px;
    color: #959595;
  }

  .cart__footer--total-price {
    font-weight:$fontWeight-bold;
    text-align: right;
  }

  .cart__footer--tax {
    font-size: $fontSize-smaller-2;
    color: #959595;
    text-align: right;
  }
}