.product-card {
  background-color: $color-white;
  margin-top: 24px;
  margin-right: 10px;
  padding: 0;
  transition: .5s ease;

  .buy-now-button {
    display: none;
  }

  &:hover {
    .buy-now-button {
      display: block;
    }
  }
}



.space-evenly {
  justify-content: center;
}

.thumbnail {
  padding-top: 32px;
  height: 163px;
  border: 2px solid $color-white;
  background-size: cover;
  position: relative;
  opacity: 1;

  &:hover {
    opacity: 0.3;
  }
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

.product-name {
  color: $color-black;
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $fontSize-small;
  margin-top: 1rem;
  text-align: center;
}

.product-price {
  color: $color-pink;
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: $fontSize-small;
  margin: 1rem 0;
  text-align: center;
}

.image-thumbnails {
  display: flex;
}


.image__box {
  height: 96px;
  width: 96px;
  margin: 2rem 1rem;
  cursor: pointer;

  @include media-breakpoint-down(lg) {
    margin-bottom: 2.4rem;
  }

  .instagram__box {
    display: block;
    white-space: nowrap;
    height: 96px;
    // border: 0.5rem solid $color-pink;
    background-size: cover;
    background-position: center;
    text-decoration: none;

    @include media-breakpoint-down(lg) {
      border-width: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
      height: 96px;
    }

    &:hover {
      // border-color: $color-grey;
      position: relative;
      opacity: 1;
    }
  }
}
