.sidebar {
  background: $color-white;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 550px;
  z-index: 900;
  transition: transform 0s ease-out;
  transform: translate3d(100%, 0px, 0px);

  @include media-breakpoint-up(lg) { 
    width: 100%;
    // max-width: 400px;
    transition: transform 0.5s ease-out;
  }
}

.sidebar.open {
  transform: translateX(0);
  overflow: auto;
}

.sidebar__nav {
  padding: 5rem 4rem 3rem;

  @include media-breakpoint-up(lg) {
    padding: 4rem 6rem 2rem;
  }
}

.sidebar__nav--flex {
  display: flex;
  flex-direction: column;
}

.sidebar__nav--help {
  padding-top: 2rem;
}

.sidebar__nav--links {
  // font-weight:$fontWeight-bold;
  // font-size: $fontSize-medium-2;
  line-height: 2em;
  text-decoration: none;

  @include media-breakpoint-up(lg) { 
    // font-size: $fontSize-medium-4;
  }

  &:hover {
    color: $color-grey;
  }
}

.sidebar__nav--help-links {
  // color:$color-medium-grey;
  // font-weight:$fontWeight-regular;
  // font-size: $fontSize-small;
  line-height: 2em;
  text-transform: lowercase;
  text-decoration: none;

  @include media-breakpoint-up(lg) { 
    // font-size: $fontSize-small-2;
  }

  &:hover {
    color: rgba($color-grey, 0.72);
  }
}

.sidebar__overlay {
  position: fixed;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 900;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease 0s, bottom 0s ease 0.3s;
}

.overlay { 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
}
.overlay.enabled {
  position: fixed;

  .sidebar__overlay {
    opacity: 1;
    bottom:0;
    transition: opacity 0.3s ease 0s;
  }
}

.cart-widget {
  padding: 1rem 1rem;
}

.cart__item--details {
  display: flex;
  flex-direction: column;
  // padding: 0 1rem;

  p {
    font-size: 20px;
  }
}

.cart__item + .cart__item {
  margin-top: 2rem;
}

.number-cart-items {
  padding-bottom: 2rem;
  font-family: $font-montserrat;
  color: $color-black;
  font-size: $fontSize-small;
}

.cart__item img {
  width: 96px;
  height: 96px;
}
