.top-bar {
  height: 48px;
  display: flex;
  align-items: center;
  color: $color-black;
  font-family: $font-montserrat;
  font-size: $fontSize-small-1;
  position: relative;

  span {
    padding: 0 0.5rem;
  }

  a {
    color: $color-black;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  button {
    border: 0;
    cursor: pointer;
  }
}

.top-bar.inverse {
  background-color: $color-grey;
}

.top-bar-auth a {
  color: $color-pink;
}

.cart-badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $color-pink;
  color: $color-white;
  font-family: $font-montserrat;
  font-weight: bold;
  display: flex;
  font-size: $fontSize-tiny;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 22px;
}