#nprogress {
  pointer-events:none;
  .bar {
    position:fixed;
    z-index:2000;
    top:0;
    left:0;
    width:100%;
    height:3px;
    background:$color-pink;
  }
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

.strike {
  text-decoration: line-through;
}

img {
  image-rendering: auto;
}

.landing-page {
  height: 40vh;
  background-image: url('/static/landing1.jpg');
  background-position: center;
  background-size: cover;

  color: $color-white;
  font-weight: bold;
  font-family: $font-montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSize-meduim
}

.pagination {
  font-family: $font-montserrat;
  color: $color-black
}

.page-link {
  border: 0;
  color: $color-black;
  font-family: $font-montserrat;
}

.page-item {
  cursor: pointer;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $color-pink;
  border-color: $color-pink;
  
}

.shopping-cart {
  cursor: pointer;
}

.has-error {
  color: red;
  font-family: $font-montserrat;
  font-size: $fontSize-small;
  text-align: center;
  margin-bottom: 1rem;
}

.top-bar .dropdown button {
  border: 0;
  min-width: 0;
  border-radius: 0;
  height: unset !important;
  background-color: white !important;
  color: $color-black !important;
  font-weight: bold;
  font-size: $fontSize-small;
  font-family: $font-montserrat;
}

.search-button {
  height: 100%;
  background-color: $color-pink;
  color: $color-white;
  border: 0;
  font-size: $fontSize-tiny;
  font-family: $font-montserrat;
  text-transform: uppercase;
  cursor: pointer;
}

.dropdown-basic a {
  font-family: $font-montserrat;
  margin-bottom: 2rem;
}

.top-bar-auth .button {
  font-family: $font-montserrat;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 100;
}

thead, tr, th{
  font-family: $font-montserrat;
  color: $color-black;
}
thead {
  font-size: $fontSize-small-1;
  font-weight: bold;
  text-align: left;
}

.cart__cta {
  width: 100%;
  padding: 1rem;

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0;
  }
}

.form-label {
  font-family: $font-montserrat;
  color: #b4b4b4;
}

.remove__button {
  color: red;
  font-weight: bold;
  font-family: $font-montserrat;
  text-align: left;
  margin-top: 1rem;
  text-transform: uppercase;
}

p {
  font-family: $font-montserrat;
}