// COLORS
$color-black: #2E2E2E;
$color-dark-grey: #6C6C6C;
$color-grey: #B4B4B4;
$color-pink: #f62f5e;
$color-blue: #6EB2FB;
$color-gold: #F1AD3D;
$color-light-grey: #F7F7F7;
$color-green: #7ed321;
$color-yellow: #EFFC90;
$color-white: #ffffff;
$color-orange: #fe5c07;

$color-indigo: #9013fe;

// TYPOGRAPHY

$fontSize-large: 48px;
$fontSize-meduim: 24px;
$fontSize-small: 16px;
$fontSize-small-1: 15px;
$fontSize-tiny: 12px;

$font-open-sans: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-playfair-display: 'Playfair Display', serif;
