.products {
  margin-top: 23px;
}

.product-hero {

}

.product-wrapper {
  background-color: $color-white;
  padding: 2rem;

  .price {
    color: $color-pink;
    font-weight: bold;
    font-family: $font-montserrat;
    padding-top: 20px;
    font-size: $fontSize-small;
  }
}

.product-wrapper img {
  width: 350px;
  height: 300px;
}

.product-description {
  font-family: $font-montserrat;
  color: $color-black;
  font-size: $fontSize-small;
}

.product__quantity-box {
  display: flex;
  font-family: $font-montserrat;
  font-size: $fontSize-small;
  align-items: center;

  button {
    background-color: $color-light-grey;
    color: $color-black;
    border-color: $color-light-grey;
  }

  span {
    margin: 0 1rem;
  }
}

.product__quantity-box.cart {
  background-color: $color-white;
  height: 41px;
  width: 140px;
}

.product-wrapper .name {
  text-transform: uppercase;
  font-size: $fontSize-meduim;
}

.product-reviews {
  // background-color: $color-grey;
}

.reviews-wrapper {
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.product__quantity-counter {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $color-grey;
  cursor: pointer;
}